body{
    background-color: #f5f5f5;
    font-family: 'poppins', sans-serif;
}

header, footer{
    text-align: center;
    width: 300px;
    margin: 30px auto 0px auto;
}

header img {
    height: 90px;
}

main {
    width: 300px;
    margin: 30px auto 0px auto;
}

form {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    display: inline;
    font-family: 'poppins', sans-serif;
    width: 236px;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
    font-weight: 200;
    font-size: 18px;
}

input[type="submit"]{
    background-color: rgb(142, 230, 28);
    color: #fff;
    font-weight: 400;
    border-radius: 5px;
    width: 100%;
}

select {
    font-family: 'poppins', sans-serif;
    width: 100%;
    border: 1px solid #ced4da;
    border-radius: 0px 5px 5px 0px;
    font-weight: 200;
    font-size: 18px;
}

footer {
    font-weight: 10px;
}

/*IDs*/ 
#nicka {
    float: left;
    width: 20px;
    background-color: rgb(142, 230, 28);
    border-radius: 5px 0px 0px 5px;
    border: 1px solid #929292;
    font-family: 'poppins', sans-serif;
    text-align: center;
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
}


#error {
    text-align: center;
    color: #fd0c49;
    font-weight: 200;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}